@page "/todo";
@using ToDoList_BlazorApp.Data

<h3>My To Do List</h3>
<br />
<b>Num of completed: @todos.Count(c => c.IsDone)</b>
<br />
<br />
<ul>
    @foreach(ToDoItem item in todos)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone"/>
            <input @bind="item.Title" />
        </li>
    }
</ul>

<input @bind="newTodTitle" placeholder="add something to do.." />
<button @onclick="AddToDo">Add todo</button>

@code {
    private IList<ToDoItem> todos = new List<ToDoItem>();
    private String newTodTitle;

    private void AddToDo()
    {
        if (!string.IsNullOrWhiteSpace(newTodTitle))
        {
            var newItem = new ToDoItem
            {
                Title = newTodTitle,
                IsDone = false
            };
            todos.Add(newItem);
            newTodTitle = string.Empty;
        }
    }

}
